
/* @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap') */

.invalid-feedback {
    display: block;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
#logpng{
    width: 100px;
    padding-bottom: 10px;
    border-radius: 50%;
    background-color: #000;
}

p {
    font-weight: 300;
    color: #413e3e;
}

header {
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 10;
}
#log {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
}

.logo {
    color: #c2c5c9;
    font-weight: bold;
    font-size: 3em;
    text-decoration: none;
    font-family: "Nova Script", system-ui;
    margin-bottom: 20px;
}
.logo span {
    color:goldenrod;
    font-family: "Kaushan Script", system-ui;
}
span {
    font-family: "Kaushan Script", system-ui;
}

.navbar {
    display: flex;
    position: relative;
}

.navbar li {
    list-style: none;
}
.navbar a {
    font-size: 1em;
    color: #e7e0e0;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 300;
}
/*.btn-reserve{
    font-size: 0.6em;
    padding: 5px 5px;
    background: #4d0dc5;
    margin-top: -10px;
    text-transform: uppercase;
    border-radius: 15px;
}
.btn-reserve:hover{
    background: #a427ec;
    transition: ease-out;
}*/

header .navbar li a:hover {
    color:goldenrod;
    border-bottom: 2px solid goldenrod;
    border-top: 2px solid goldenrod;
}
header .navbar li a {
    transition: ease-out;
}

.banniere {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url(public\images\bg-img\1.jpg);*/
    background-size: cover;
    background-color: #222121;
}
.banniere h2 {
    color: blanchedalmond;
}

.banniere .contenu {
    position: absolute;
    max-width: 70%;
    text-align: center;
}

.banniere .contenu {
    color: #fff;
    font-size: 1em;
    text-transform: capitalize;
}
.banniere img{
    max-height: 50%
}
.second-banniere{
    background-color:goldenrod;
    width: 90%;
    margin: auto;
    height: 10px;
    
}


/* .banniere .contenu p{
    margin-right: 20px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} */

.contenu p:nth-child(2) {
    color: #e2f3f7;
    font-size: 1em;
}

.btn1 {
    font-size: 0.9em;
    color: #141313;
    background:goldenrod;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 10px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
    border-radius: 15px;
}

.btn2 {
    font-size: 0.9em;
    color: #161515;
    background:goldenrod;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 10px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
    border-radius: 15px;
}

.btn1:hover {
    letter-spacing: 4px;
}
.btn2:hover {
    letter-spacing: 4px;
}

section {
    padding: 150px;
}
.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logoimg {
    display: grid;
    justify-content: center;
    align-items: center;
}

.logoimg img {
    height: 150px;
    border-radius: 15px;
    width: 150px;
}

.row .col50 {
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}
.row .col50 h2 {
    margin-bottom: 20px;
}
.titre-text {
    color: #a09797;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.col50 p {
    color: rgb(68, 70, 70);
    text-align: justify;
    border: 2px solid black;
    padding: 25px;
    background-color: rgb(211, 208, 208);
    border-radius: 10px 80px;
  
}
.titre-text span {
    color:goldenrod;
    font-size: 1.5em;
    font-weight: 700px;
}
.row .col50 img {
    height: 400px;
    width: 650px;
    position: relative;
    border-radius: 10px 150px;
    padding-bottom: 20px;
}

.titre {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.secondimg {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    margin-right: 80px;
    padding-top: 50px;
}
.col50img1 {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 100px;
}
.col50img2 p {
    padding-top: 30px;
    align-content: center;
    font-size: 1.1rem;
    color: #272929;
    margin-left: 5px;
    margin-top: 5px;
    border: 2px solid black;
    padding: 20px;
    background-color: rgb(211, 208, 208);
    border-radius: 10px 60px;
}
.menu {
    margin-top: -100px;
    background-color: #383636;
}
.menu .titre h2 {
    color: #e2e2ce;
    margin-top: 60px;
}

.menu .titre p {
    color: #e9e7d4;
}
.menu .contenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .contenu .box {
    width: 350px;
    margin: 20px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(148, 126, 106, 0.8);
    border-radius: 120px 5px;
}

.menu .contenu .box .imbox {
    position: relative;
    width: 100px;
    height: 300px;
    border-radius: 150px 15px;
} 

.menu .contenu .box .imbox img {
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 120px 15px;
}

.menu .contenu .box .text {
    text-align: center;
    font-weight: 300px;
    color: #f7f6e0;
}

.menu .contenu .box .text .btn {
    /* font-weight: 300; */
    font-size: 0.8rem;
    color: #e2f3f7;
    background-color: transparent;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 10px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
    border-radius: 120px 5px;
}

.menu .contenu .box .text .btn:hover {
    letter-spacing: 4px;
}

.expert {
    margin-top: -100px;
    background-color: #1f1d1d;
}

.expert .contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.expert .contenu .box {
    width: 250px;
    margin: 15px;
}

.expert .contenu .box img {
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius:  0px 120px 0px 60px;
}

.expert .contenu .box h3 {
    color: #c5baba;
    font-weight: 300;
    text-align: center;
    font-family: "Kaushan Script", system-ui;
}

.expert h2 {
    margin-top: 60px;
    color: #c2c5c9;
}

.expert p {
    color: #ccc6c6;
}
.temoignage {
    background-color: #3b3535;
    background-size: cover;
}

.temoignage .contenu {
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.temoignage .contenu .box {
    width: 340px;
    margin: 20px;
    background: #e9dede;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.temoignage .contenu .box .imbox {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.temoignage .contenu .box .imbox img {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.temoignage .contenu .box .text {
    text-align: center;
    color: #666;
    font-style: italic;
}
.temoignage .contenu .box .text h3 {
    color: #9b8c07;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
    padding: 40px;
}

.blanc .titre-text {
    color: #fff;
}
.blanc .titre-text,
.blanc p {
    color: #fff;
}

.contact {
    /* background-image: url(img/experts/pexels-terje-sollie-313700.jpg); */
    background-color: #3b3535;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    width: 100%;
    background-position: unset;
}

.contact .titre-noir img {
    width: 1480px;
    height: 800px;
    border-radius: 20px;
    display: flex;
    background-size: cover;
    align-items: stretch;
}

.contact h2 {
    margin-top: -25px;
    color: #c4b2b2;
    text-align: center;
}

.contact p {
    margin-bottom: 10px;
    color: #d1c1c1;
    text-align: center;
}

.contactform {
    position: relative;
    padding: 75px 50px;
    background: #f3e9e9;
    box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);
    max-width: 500px;
    margin-top: -625px;
    justify-content: center;
    align-items: center;
    margin-left: 29%;
    border-radius: 20px;
}

.contactform .inputboite {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactform h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
}

.contactform .inputboite input,
.contactform .inputboite textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
    border-radius: 25px;
}

.contactform .inputboite input[type="submit"] {
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    background: #4427ec;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transition: 0.5s;
    max-width: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    transition: ease-out;
}

.inputboite input[type="submit"]:hover {
    transition: 0.5s;
    background: #1ac6fa;
}

.reservation {
    /* background-image: url(img/experts/pexels-terje-sollie-313700.jpg); */
    background-color: #3b3535;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    width: 100%;
    background-position: unset;
}

.reservation .titre-noire img {
    width: 1480px;
    height: 800px;
    border-radius: 20px;
}

.reservation h2 {
    color: #e7dddd;
    text-align: center;
}
.reservation span {
    color:goldenrod;
    font-size: 2rem;
}

.reservation p {
    margin-bottom: 10px;
    color: #e6dcdc;
    text-align: center;
}

.contactforme {
    position: relative;
    padding: 75px 50px;
    background: #fcffff;
    box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);
    max-width: 700px;
    margin-top: -625px;
    justify-content: center;
    align-items: center;
    margin-left: 29%;
    border-radius: 20px;
}

.contactforme .inputboites {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1rem;
}

.contactforme h3 {
    color: #5a3410;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.contactforme .inputboites input,
.contactforme .inputboites textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    resize: none;
    border-radius: 25px;
}

.contactforme .inputboites input[type="submit"] {
    font-size: 1em;
    font-weight: 700;
    color: #d4cfcf;
    background: #4427ec;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transition: 0.5s;
    max-width: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    transition: ease-out;
}

.inputboites input[type="submit"]:hover {
    transition: 0.5s;
    background: #1ac6fa;
}

.horaire .infohours h2 {
    font-size: 0.7rem;
    display: flex;
    text-align: center;
    position: relative;
}
.texte h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.horaire .infohours h3 {
    font-size: 1.5em;
    color: rgb(117, 187, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}
.jour p {
    color: rgb(199, 194, 194);
}
.jour h4 {
    color: #a38c08;
}
.jour-submit button {
    font-size: 1em;
    padding: 5px 10px;
    background: goldenrod;
    margin-top: auto;
    text-transform: uppercase;
    border-radius: 15px 100px ;
    width: 300px;
    display: flex;
    justify-content: center;
    justify-items: center;
    color: #d0e2df;
    border: none;
}

.jour-submit button:hover {
    background:rgb(167, 185, 11);
    transition: ease-out;
    letter-spacing: 1px;
}
.jour {
    color: rgb(38, 82, 163);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    font-size: 1.2em;
    font-weight: 300;
    padding: 5px;
    letter-spacing: 2px;
    flex-direction: column;
    position: relative;
}

.image {
    display: flex;
    justify-content: center;
    position: relative;
}
.image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

.google {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-top: 50px;
}

.google map {
    width: max-content;
    max-height: max-content;
}
.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.copyright p {
    color: #b6b0b0;
}

.copyright a {
    color: lawngreen;
}

header.sticky {
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header.sticky .logo {
    color: #686363;
}
header.sticky .navbar li a {
    color: #0a0a0a;
}
header.sticky li a:hover {
    color: goldenrod;
    border-bottom: 2px solid goldenrod;
}


/* *******cartemenu******* */
body {
    background-color: #332c2c;
    /* background-image: url(/public/images/bg-img/pexels-tae-fuller-1616113.jpg);
    background-repeat:no-repeat;
    background-size:cover; */
}

.plats {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -80px;
}
.plats li {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.plats img {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: space-between;
    justify-content: space-around;
    flex-direction: row;
    width: 400px;
    height: 400px;
    border-radius: 100px 100px 0 0;
    margin: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.plats h4 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #e2f3f7;
    font-size: 1.2rem;
    padding-bottom: 15px;
    /* font-family: "Kaushan Script", system-ui; */
}

.categorie h3 {
    font-size: 1.8rem;
    text-align: center;
    text-decoration: solid;
    color: #d0e2df;
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    /* font-family: "Kaushan Script", system-ui; */
}
.categorie h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #dbcccc;
}

.categorie span {
    color:goldenrod;
}

.categorie .prix {
    size: 1.5em;
    color: rgb(155, 252, 0);
}
.categorie .prix {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: end;
    align-content: space-around;
    flex-direction: row-reverse;
    /* text-align: center; */
}
.categorie a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: row-reverse;
    text-align: center;
}
.buttoncontent {
    font-size: 0.9em;
    color: #716e79;
    background:goldenrod;
    padding: 5px 130px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
    border-radius: 15px;
    transition: ease-out;
    size: 50px;
}

.buttoncontent:hover {
    color: #f8efbe;
    background: #d0f30a;
    letter-spacing: 4px;
}

.buttoncontent a {
    text-decoration: none;
    color: #31302a;
}
.block-actu {
    display: flex;
    width: 100%;
    /* grid-template-rows: repeat(33% 1fr); */
    justify-content: space-between;
    /* flex-direction: calc(3 1fr); */
    flex-wrap: wrap;
}

.actus{
    width: 50%;
}
.actus img {
    width: 95%;
    height: auto;
    margin: 5px 5px;
    padding: 5px 5px;
    justify-content: center;
    border: #221f1f solid 1px;
    padding: 10px;
    background-color: #b6b1b1;
    box-shadow: 5px 15px 50px rgba(139, 137, 137, 0.8);
    border-radius: 50px 5px;
    /* z-index: 12; */
}
.actus p {
    text-align: justify;
    margin: 10px;
    color: #1f1d1d;
    height: 0 auto;
    border: #666 solid 1px;
    padding: 15px 15px;
    background-color: silver;
    box-shadow: 8px 15px 50px rgba(148, 142, 142, 0.8);
    padding-top: 15;
    box-sizing: border-box;
    border-radius: 50px 5px;
}
.actus h1 {
    color: #c5c7b8;
    font-size: 2rem;
    text-align: center;
    margin: 10px 10px;
}
.btn-btn {
    font-size: 1.2em;
    color: #2c2929;
    background:goldenrod;
    padding: 5px 30px;
    display: inline-block;
    margin-top: 10px;
    text-transform: uppercase;
    text-decoration:none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 30%;
    border-radius: 80px 5px;
}
.btn-btn:hover {
    letter-spacing: 4px;
    background-color: #d0f30a;
}
.plat-container img {
    width: 500px;
    height: 500px;
    border-radius: 50px;
    display: flex;
    margin-top: 20px;
    margin-left: 35%;
}
.plat-container h2 {
    color: azure;
    text-align: center;
    margin-left: 50px;
    padding-top: 40px;
}
.plat-container .prix {
    color: rgb(54, 214, 15);
    margin-left: 50%;
    font-weight: 600;
    font-size: 1.2rem;
}
.plat-container li {
    color: rgb(208, 238, 191);
    margin-left: 20px;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}

.plat-container a {
    display: ruby-text;
}

/****** responsive adaptation aux autre  format  tablette ********/

@media (max-width: 991px) {
    header,
    header.sticky {
        padding: 10px 20px;
    }

    header .navbar li {
        margin-left: 0px;
    }

    header .navbar li a {
        text-decoration: none;
        color: #1a1515;
        font-size: 1.2em;
        font-weight: 300;
    }
    .btn-reserve {
        margin-top: 10px;
    }

    .navbar {
        display: none;
    }

    section {
        padding: 20px;
    }

    header .navbar.active {
        width: 100%;
        height: calc(100% -68%);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #f0f3f0;
        align-items: center;
    }

    .menutoggle {
        position: relative;
        width: 40px;
        height: 40px;
        background-image: url(/public/images/bg-img/menu-btn.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 30px;
    }

    .menutoggle.active {
        background-image: url(/public/images/bg-img/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menutoggle {
        filter: invert(1);
    }

    .banniere .contenu h2 {
        font-size: 1.2em;
    }

    .row .col50 img {
        margin-left: 18%;
    }

    .contenu p:nth-child(2) {
        font-size: 1.2em;
    }

    .expert {
        margin-top: 0px;
    }

    .menu {
        margin-top: 0px;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .temoignage h2 {
        font-size: 2em;
        text-align: center;
    }

    .temoignage p {
        text-align: center;
    }

    .contactform {
        margin-left: 25%;
    }

    .row .col50,
    .col50img1 {
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        margin-right: 200px;
        padding-right: 200px;
    }

    .col50 h2 {
        padding-top: 50px;
    }

    .row {
        flex-direction: column;
        justify-content: center;
    }
    .plats img {
        display: grid;
        grid-template-columns: min-content;
        width: 300px;
        height: 300px;
        border-radius: 100px;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .plats {
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .plats h4 {
        display: grid;
        grid-template-columns: min-content;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        color: #e2f3f7;
    }

    .categorie h3 {
        font-size: 1.2rem;
        text-align: center;
        text-decoration: solid;
        color: #d0e2df;
    }
    .categorie h2 {
        font-size: 1.5rem;
        padding-top: 80px;
    }

    .categorie .prix {
        size: 1.5em;
    }
    .categorie .prix {
        flex-direction: column;
    }
    .categorie a {
        display: grid;
        flex-direction: column;
        text-align: center;
    }
    .buttoncontent {
        flex-direction: column;
    }
    .contact h2 {
        padding-top: 80px;
    }
    .reservation h2 {
        padding-top: 80px;
    }

    .actus{
        width: 100%;
    }
    /* .block-actu {
        
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-content: space-between;
        align-items: flex-start;
    } */
    .plat-container img {
        margin-left: 12%;
    }
}

/* adaptation aux autre  format telephones mobiles  */

@media (max-width: 480px) {
    .banniere .contenu h2 {
        font-size: 2.2em;
        color: #fff;
    }

    .titre-text {
        color: #000;
        font-size: 2rem;
        font-weight: 300;
        text-transform: capitalize;
    }

    .temoignage h2 {
        font-size: 1.1em;
    }

    .temoignage p {
        text-align: center;
    }

    .plats img {
        display: grid;
        grid-template-columns: min-content;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .plats {
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .plats h4 {
        display: grid;
        grid-template-columns: min-content;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        color: #e2f3f7;
        text-decoration: none;
    }

    .categorie h3 {
        font-size: 1.2rem;
        text-align: center;
        text-decoration: solid;
        color: #d0e2df;
    }
    .categorie h2 {
        font-size: 1rem;
    }

    .categorie .prix {
        size: 1.5em;
    }
    .categorie .prix {
        flex-direction: column;
    }
    .categorie a {
        display: grid;
        flex-direction: column;
        text-align: center;
    }
    .buttoncontent {
        flex-direction: column;
    }
    .buttoncontent a {
        display: flex;
        text-align: center;
        justify-self: center;
        align-items: center;
    }
    .block-actu {
        display: grid;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-content: space-between;
        align-items: flex-start;
    }
    .plat-container img {
        margin-left: 12%;
    }
}